<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Bike Info</title>
</head>

<body>
  <main id="show-main">
    <div class="bike-detail">
      <h1>
        <%= bike.name %>
      </h1>
      <div class="inventory">
        <img src=<%=bike.img %>>
        <article>
         <p>Retail Price: $<%= bike.price %></p> 
           <p>QTY on Hand: <%= bike.qty %></p> 
        </article>
      </div>
      <section>

        <article>
          <%= bike.description %>
        </article>

      </section>
    </div>
  </main>
</body>

</html>